### Agenda:
    - Introduction to Python 
    - Understanding python variables, data types and its operations
    - Conditional and Iterative Constructs

Let's Print Hello Python

In [1]:
x = 'Hello Python! '

In [2]:
print(x)

Hello Python!

Now lets store an number 15 in variable y. when we say print y, it prints the value of y

In [3]:
y=15
print(y)

15

### Data Types

In [4]:
print(type(x))

<class 'str'>

In [5]:
print(type(y))

<class 'int'>

Now lets create two more variables f and b, f stores 7.5 and b stores a True. Lets print the type of f and b. we see that f is of type float, representing a real number and b is of type boolean. boolean types can take either True or false

In [6]:
f = 7.5
b=True

In [7]:
print(type(f))
print(type(b))

<class 'float'>
<class 'bool'>

Hence python objects can be:
1. Numeric - either whole numbers or numbers with decimal values
2. String - Values in either single or double quotes
3. Boolean - Storing either True or False

Now Lets find out the output of the below statement

In [8]:
print(type('17'))

<class 'str'>

### Python Operations

Python can be used as a calculator.lets perform some mathematical operations on numeric data
lets store x=3, y=4,z=100

In [9]:
x=3;y=4;z=100

In [10]:
#+ is an operator to perform addition
print(x + y)

7

In [11]:
# - is an operator to perform subtraction
print(x - y)

-1

In [12]:
# * is an operator to multiply two numbers
print(x * y)

12

In [13]:
# % is the operator to fetch the reminder after dividing two integers
print(x % y)

3

In [14]:
# ** is the operator to perform exponentation, x raise to the power of y
print(x ** y)

81

In [15]:
#  / is the operator to fetch the quotient after dividing two integers
print(z / x)

33.333333333333336

In [16]:
# // is similar to / which fetches the quotient and takes the floor of the number. 
# If the quotient after division is 33.33, floor of this number is 33 and similarly if the quotient is 77.97, 
#floor of this number is 77
print(z // x)

33

What will be the output of the code, when executed. The first would print True and the seocnd would print False

In [ ]:
a = 5
b=7

In [ ]:
print(a == 5)
print(b == 6)

### Strings

Now lets take two variables and store strings in them.

In [ ]:
a = 'hi '
b = 'Hello'
print(a)
print(b)

Lets see what happens when the two strings are added. we can see that both the strings are concatenated

In [ ]:
print(a + b) # here the values are concatenated

Now lets store character 3 in a and add 1 to that. we will be getting an error because python cannot add a string to an integer.

In [ ]:
a = '3'
print(a + 1)

to avoid this error the str type should be converted to integer. int of a is going to convert string data stored in a to integer

In [ ]:
a = '3'
print(int(a) + 1)

Now lets try to multiply a which contains a string with an integer. here we observe the * operator replicates the string,in our case its 3 times.

In [ ]:
a='Hi '
a *3

To summarise, + operator when applied with two numeric types is going to perform the numeric addition and when applied on two strings is going to perform concatenation. However when a string and a number is added, generates an error since the python interpreter cannot resolve the conflict. Lastly when a string is multipled with a number, n the string is replicated n times

### User Input

input function is used to take key board input from user. input function accepts an argument which can be assigned to a python object. The argument to input will be the prompt message to be displayed
Here the input value will be stored in the variable name

In [ ]:
name = input("What's your name? ")

While printing the output using the print function we can print a message along with the variable name using the , operator

In [ ]:
print("Nice to meet you " ,name ,"!")

In [ ]:
age = input("Whats your age? ")

In [ ]:
print(type(age))
print(type(name))

So far we have discussed scalar types where in every variable we stored a single value. Now lets create a heterogenous collection, lists

In [ ]:
# Creating lists
lst = [2, 'a', 4.5, False]
print(lst)

lets trint the type of lst

In [ ]:

print(type(lst))